<nav class="navbar sticky">
    <div class="flex justify-center items-center">
        <div class="flex space-x-4 bg-gray-800 p-4 rounded-3xl mt-5 mb-5 gap-10">
            <a routerLink="/home" class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2">Home</a>
            <a routerLink="/movie-list" class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2">Movies</a>
            <a routerLink="/tv-list" class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2">Series</a>
        </div>
    </div>
</nav>
