.navbar {
    z-index: 999999;
  }
/*   
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
  }
  
  .navbar-logo {
    flex-shrink: 0;
  }

  
  .navbar-link {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #cbd5e0;
    transition: color 0.3s ease;
  }
   */