<nav class="navbar sticky">
    <div class="flex justify-center items-center">
        <!-- Navbar Links -->
        <div class="flex space-x-4 bg-gray-800 p-4 rounded-3xl mt-5 mb-5 gap-10">
            <a class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2" href="#">Home</a>
            <a class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2" (click)="scrollToSection('popular-movies')">Movies</a>
            <a class="text-white font-semibold hover:text-yellow-400 cursor-pointer hover:border-b-yellow-400 hover:border-b-2" (click)="scrollToSection('popular-tv-shows')">TV Shows</a>
        </div>
    </div>
</nav>
