<div class="pl-8 pr-8 flex justify-center flex-col" id="popular-movies">
    <div class="mb-4 flex justify-center">
        <input
            type="text"
            placeholder="Search here...."
            [(ngModel)]="searchQuery"
            class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" 
            (input)="searchMovies()"/>
        <button class="ml-2 px-4 py-2 border text-white hover:text-black hover:bg-white font-semibold rounded-md" (click)="searchMovies()">
            Search
        </button>
    </div>
    <div class="p-8 pt-0 mb-4 flex flex-col items-center justify-center" *ngIf="showSearchResults && searchQuery" id="search-results">
        <h1 class="text-white text-3xl font-bold mb-4">Search Results</h1>
        <div *ngIf="searchResults.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <div *ngFor="let result of searchResults" class="flex-shrink-0 mr-4 mb-4">
                <div class="relative bg-white rounded-lg shadow-md overflow-hidden w-auto">
                    <div class="flex">
                        <img
                            [src]="'https://image.tmdb.org/t/p/w500' + result.poster_path"
                            alt="{{ result.title }} Poster"
                            class="object-cover w-full h-72 transition-transform duration-300 transform hover:scale-105" />
                    </div>
                    <div
                        class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer"
                        (click)="searchgoToDetail(result)">
                        <div class="overlay"></div>
                        <div class="p-4 text-center w-full z-50">
                            <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="searchResults.length === 0" class="text-white">No search results found.</div>
    </div>
    <div class="flex justify-center lg:justify-between items-center">
        <h1 class="text-white text-3xl font-bold mb-4 lg:mb-0">Browse Movies</h1>
        <div class="hidden justify-center mb-4 mt-4 gap-5 items-center lg:flex">
            <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="prevPageMovies()">
                PREV
            </button>
            <span class="text-white font-semibold">
                Page {{ currentMoviePage }}
            </span>
            <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="nextPageMovies()">
                NEXT
            </button>
        </div>
    </div>
    <div class="flex flex-wrap justify-center gap-4 mb-8">
        <ng-container *ngIf="popularMovies">
            <div *ngFor="let movie of popularMovies.results" class="relative bg-white rounded-lg shadow-md overflow-hidden" style="width: 150px">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }} Poster" class="w-full h-[15rem] transition-transform duration-300 transform hover:scale-105" />
                <div class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer" (click)="goToMovieDetail(movie.id)">
                    <div class="overlay"></div>
                    <div class="p-4 text-center w-full z-50">
                        <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="flex justify-center mb-4 mt-4 gap-5 items-center lg:hidden">
        <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="prevPageMovies()">
            PREV
        </button>
        <span class="text-white font-semibold">
            Page {{ currentMoviePage }}
        </span>
        <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="nextPageMovies()">
            NEXT
        </button>
    </div>
</div>
