.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    pointer-events: none; 
}
  
.relative:hover .overlay {
    opacity: 1;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}