<div class="h-screen flex justify-center items-center relative">
    <!-- Background image -->
    <!-- <img src="../../../assets/img/banner-bg.jpg" class="absolute w-full h-screen object-cover"> -->

    <div class="absolute top-0 left-0 w-full bg-black opacity-50 h-screen"></div>

    <div class="pt-[10rem] pb-8 px-4 mb-8 rounded-md text-center z-10 relative">
        <h1 class="text-white text-[5rem] text-center font-bold">Welcome to <span class="text-yellow-500">MoVid</span> 🍿</h1>
        <div class="p-8 flex flex-col items-center">
            <h1 class="text-white text-2xl lg:text-3xl font-bold mb-4">Search Movies / TvShow</h1>
            <div class="mb-4 flex">
                <input
                    type="text"
                    placeholder="Search here...."
                    [(ngModel)]="searchQuery"
                    class="p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" 
                    (input)="searchMovies()"/>
                <button class="ml-2 px-4 py-2 border text-white hover:text-black hover:bg-white font-semibold rounded-md" (click)="searchMovies()">
                    Search
                </button>
            </div>
        </div>
    </div>
</div>

<div class="p-8 pt-0 mb-4 flex flex-col items-center justify-center" *ngIf="showSearchResults && searchQuery" id="search-results">
    <h1 class="text-white text-3xl font-bold mb-4">Search Results</h1>
    <div *ngIf="searchResults.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let result of searchResults" class="flex-shrink-0 mr-4 mb-4">
            <div class="relative bg-white rounded-lg shadow-md overflow-hidden w-auto">
                <div class="flex">
                    <img
                        [src]="'https://image.tmdb.org/t/p/w500' + result.poster_path"
                        alt="{{ result.title }} Poster"
                        class="object-cover w-full h-72 transition-transform duration-300 transform hover:scale-105" />
                </div>
                <div
                    class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer"
                    (click)="searchgoToDetail(result)">
                    <div class="overlay"></div>
                    <div class="p-4 text-center w-full z-50">
                        <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="searchResults.length === 0" class="text-white">No search results found.</div>
</div>

<div class="h-[50vh] flex items-center justify-center">
    <h1 class="text-yellow-500 text-[2rem] text-center font-bold">Watch Movies and TV Shows For Free</h1>
</div>

<!-- <div class="pl-8 pr-8 flex justify-center flex-col h-screen" id="popular-movies">
    <h1 class="text-white text-3xl font-bold mb-4">Popular Movies</h1>
    <div *ngIf="popularMovies" class="overflow-x-auto whitespace-nowrap scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200 relative">
        <div class="flex relative">
            <div *ngFor="let movie of popularMovies.results" class="flex-shrink-0 mr-4">
                <div class="relative bg-white rounded-lg shadow-md overflow-hidden" style="width: 250px">
                    <img
                        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                        alt="{{ movie.title }} Poster"
                        class="w-full h-[25rem] transition-transform duration-300 transform hover:scale-105" />
                    <div
                        class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer"
                        (click)="goToMovieDetail(movie.id)">
                        <div class="overlay"></div>
                        <div class="p-4 text-center w-full z-50">
                            <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky bottom-0 inset-x-0 flex justify-between mb-4 mt-4">
            <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="prevPageMovies()">
                PREV
            </button>
            <button class="border text-white px-2 py-1 font-semibold rounded-md">
                Page {{ currentMoviePage }}
            </button>
            <button class="border text-white px-2 py-1 hover:text-black hover:bg-white font-semibold rounded-md" (click)="nextPageMovies()">
                NEXT
            </button>
        </div>
    </div>
</div> -->
<div class="pl-8 pr-8 flex justify-center flex-col h-screen" id="popular-movies">
    <h1 class="text-white text-3xl font-bold mb-4">Popular Movies</h1>
    <swiper-container class="mySwiper" [slidesPerView]="slidesPerView" navigation="true"
    space-between="30" free-mode="true" [loop]="true">
        <ng-container *ngIf="popularMovies">
            <swiper-slide *ngFor="let movie of popularMovies.results" class="flex items-center justify-center">
                <div class="relative bg-white rounded-lg shadow-md overflow-hidden" style="width: 250px">
                    <img
                        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                        alt="{{ movie.title }} Poster"
                        class="w-full h-[25rem] transition-transform duration-300 transform hover:scale-105" />
                    <div
                        class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer"
                        (click)="goToMovieDetail(movie.id)">
                        <div class="overlay"></div>
                        <div class="p-4 text-center w-full z-50">
                            <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>
<div class="pl-8 pr-8 flex justify-center flex-col h-screen" id="popular-tv-shows">
    <h1 class="text-white text-3xl font-bold mb-4">Popular TV Shows</h1>
    <swiper-container class="mySwiper" [slidesPerView]="slidesPerView" navigation="true"
        space-between="30" free-mode="true" [loop]="true">
        <ng-container *ngIf="popularTvShows">
            <swiper-slide *ngFor="let tv of popularTvShows.results" class="flex items-center justify-center">
                <div class="relative bg-white rounded-lg shadow-md overflow-hidden" style="width: 250px">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + tv.poster_path"
                        alt="{{ tv.original_name }} Poster"
                        class="w-full h-[25rem] transition-transform duration-300 transform hover:scale-105" />
                    <div class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 cursor-pointer"
                        (click)="goToTvShowDetail(tv.id)">
                        <div class="overlay"></div>
                        <div class="p-4 text-center w-full z-50">
                            <h2 class="text-white text-2xl font-bold mb-2 text-wrap">Play now</h2>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>

